@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.containerProducts{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;

}

/*----------Tablet---------*/
@media(min-width: 426px){
    .containerProducts{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
    }    
  
  }

/*-------Laptop----------*/  
@media(min-width: 769px){
    .containerProducts{

        width: 98%;
    }
    
  }

/*-----Laptop 1440-------*/
@media(min-width: 1025px){
    .containerProducts{
        width: 99%;
        flex-wrap: wrap;
    }

}